<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue !</title>
        <style>
            caption { border: black solid 1px; }
            table { border: black solid 1px; }
            td { border: black solid 1px; }
        </style>
    </head>
    <body>
        <h1>Bienvenue {{ prenom }}</h1>
        <p>
            <table>
                Mes jeux préférés sont&nbsp;:
                {% set i = 1 %}

                    <tr><th>N°</th><th>Jeu</th></tr>
                        {% for jeu in jeux %}
                        <td>{{ i }}</td>
                        <td>{{ jeu }}</td>
            </table>
        {% set i = i+1 %}
        {% else %}
            Je ne préfère aucun jeu&nbsp;!
        {% endfor %}
        </p>
    </body>
</html>